<div class="min-h-screen flex justify-center items-center">
    <div class="rounded-md max-w-md w-full bg-gradient-to-br from-blue-600 via-purple-500 to-gray-600">
      <h1 class="mt-5 text-center text-white text-2xl font-bold">
        Crear cuenta
      </h1>
      <p class="mb-5 text-gray-600 text-sm mix-blend-color-dodge text-center">
        Regístrate para acceder
      </p>
  
      <form class="px-5" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="block text-white" for="name">Nombre</label>
          <div class="relative">
            <span class="text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
            </span>
            <input
              id="name"
              name="name"
              formControlName="name"
              placeholder="Tu nombre"
              class="px-10 h-8 rounded-sm border w-full"
              type="text"
            />
          </div>
          @if(formRegister.controls.name.touched && formRegister.controls.name.errors){
          <span class="text-red-500 mt-3 mix-blend-color-dodge">
            {{ getError('name') }}
          </span>
          }
        </div>
  
        <div class="mb-3">
          <label class="block text-white" for="email">Email</label>
          <div class="relative">
            <span class="text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>
            </span>
            <input
              id="email"
              name="email"
              autocomplete="username"
              formControlName="email"
              placeholder="tu@email"
              class="px-10 h-8 rounded-sm border w-full"
              type="text"
            />
          </div>
          @if(formRegister.controls.email.touched && formRegister.controls.email.errors){
          <span class="text-red-500 mt-3 mix-blend-color-dodge">
            {{ getError('email') }}
          </span>
          }
        </div>
  
        <div class="mb-3">
          <label class="block text-white" for="password">Contraseña</label>
          <div class="relative">
              <span class="text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
              </span>
  
              <input
              id="password"
              name="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="new-password"
              placeholder="Tu contraseña"
              class="px-10 h-8 w-full rounded-sm border"
              />
  
              <button
              type="button"
              (click)="togglePassword()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-300 hover:text-white"
              >
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12c1.657 3.841 5.21 6.5 9.566 6.5 2.085 0 4.017-.63 5.617-1.707M15 12a3 3 0 0 0-3-3m-2.7.705A2.999 2.999 0 0 0 9 12c0 .757.282 1.448.748 1.977"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l18 18"/>
              </svg>
              </button>
          </div>
  
          @if(formRegister.controls.password.touched && formRegister.controls.password.errors){
              <span class="text-red-500 mt-3 mix-blend-color-dodge">
              {{ getError('password') }}
              </span>
          }
          </div>
  
          <div class="mb-3">
          <label class="block text-white" for="confirmPassword">Repite la contraseña</label>
          <div class="relative">
              <span class="text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
              </span>
  
              <input
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="new-password"
              placeholder="Repite la contraseña"
              class="px-10 h-8 w-full rounded-sm border"
              />
  
              <button
              type="button"
              (click)="togglePassword()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-300 hover:text-white"
              >
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12c1.657 3.841 5.21 6.5 9.566 6.5 2.085 0 4.017-.63 5.617-1.707M15 12a3 3 0 0 0-3-3m-2.7.705A2.999 2.999 0 0 0 9 12c0 .757.282 1.448.748 1.977"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l18 18"/>
              </svg>
              </button>
          </div>
  
          @if(formRegister.controls.confirmPassword.touched && (formRegister.controls.confirmPassword.errors || formRegister.errors?.['mismatch'])){
              <span class="text-red-500 mt-3 mix-blend-color-dodge">
              {{ getError('confirmPassword') }}
              </span>
          }
          </div>
  
  
        @if(errorMsg()){
          <div class="text-red-400 text-center text-sm mb-2">
              {{ getError('global') }}
          </div>
        }
  
        <button
          class="rounded-sm mb-3 w-full px-4 py-2 font-medium bg-blue-500 hover:bg-blue-600 border border-blue-400 text-white disabled:opacity-50 disabled:cursor-not-allowed"
          type="submit"
          [disabled]="formRegister.invalid"
        >
          Crear cuenta
        </button>
      </form>
  
      <div class="px-5 pb-5 text-center text-white text-sm">
        ¿Ya tienes cuenta?
        <button
          type="button"
          (click)="goLogin()"
          class="underline text-blue-200 hover:text-white ml-1"
        >
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>